*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, rgb(39, 39, 168),rgb(28, 148, 223));
}
.box{
    position: relative;
    width: 500px;
    height: 500px;
    background: rgb(37, 33, 33);
    border-radius: 8px;
}
.box form{
    position: absolute;
    background: black;
    inset: 4px;
    padding: 50px 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    z-index: 2;
}
.box form h2{
    color: aliceblue;
    text-align: center;
    letter-spacing: 0.1em;
    font-weight: 500;
}
.box form .inputBox{
    position: relative;
    margin-top: 35px;
    width: 350px;
}

.box form .inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.2em;
    transition: 0.5s;
    z-index: 10;
}
.box form .inputBox input:valid,
.box form .inputBox input:focus{
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-24px);
}
.box form .inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.7px;
    background: #fff;
}